.primary-bg {
  background-color: #0068b8;
}

.secondary-bg {
  background-color: #0088ef;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: #333;
}

.red-bg {
  background-color: #ff5757;
}

.yellow-bg {
  background-color: #ffc542;
}

.green-bg {
  background-color: #3cd458;
}

.blue-bg {
  background-color: #3cd4e4;
}

.primary-text {
  color: #0068b8;
}

.secondary-text {
  color: #0088ef;
}

.white-text {
  color: #ffffff;
}

.black-text {
  color: #333;
}
