
.output-title {
  margin-bottom: 8px;
  font-size: 1.125rem; 
  color: whitesmoke;
}

.output-button {
  margin-bottom: 16px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.15rem;
}

.output-button.loading {
  cursor: wait;
  opacity: 0.6;
}

.output-box {
  height: 75vh;
  width: 100%;
  padding: 8px;
  border: 1px solid whitesmoke;
  background-color: rgba(115, 115, 115, 0.288);
  color: whitesmoke;
  font-size: 18px;
  border-radius: 4px;
  overflow-y: auto;
  margin: 0;
  box-sizing: border-box; 
}

.output-box.error {
  color: #f56565; 
  border-color: #e53e3e; 
}

.output-line {
  margin-bottom: 4px;
}

.output-button:hover {
  background-color: rgb(132, 67, 198);
}
