/* .editorbox{
    width:50%;
    padding: 0px
}

section{
        position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 100px;
} */

/* --------------------------------------------- */

/* customEditorStyles.css */
.custom-editor-container {
  display: flex;
  height: 85vh; /* Full viewport height */
  width: 90%;
  border: 2px solid #ccc; /* Example border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside the container */
  background: linear-gradient(#2b1055, #7597de);
  overflow: hidden;
  margin: 5rem;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}

.editor-wrapper {
  width: 50%;
}

.language-selector {
  /* margin-bottom: 1.6rem;  */
  /* width: fit-content; */
  padding: 0.25rem;
  color: white;
}

.custom-editor {
  /* height: calc(100vh - 50px); Adjust the height if you have other elements */
  height: 75vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

.output-container {
  width: 50%;
  padding: 10px;
  /* margin: 0 3rem; */
}

.lang-button {
  margin-bottom: 16px;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.15rem;
}


.toaster {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.toaster.hidden {
  opacity: 0;
  visibility: hidden;
}

.toaster.visible {
  opacity: 1;
  visibility: visible;
}
