header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  z-index: 99;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #ffff;
  border-radius: 20px;
}

header ul li a:hover,
.active {
  background: #fff;
  color: #2b1055;
}
.logout-button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0;
}
