.admin-page {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-container {
  width: 50%;
  padding-top: 3rem;
  text-align: center;
}
.file-button {
  padding: 0.5rem 1rem;
  border: 1px solid white;
  background-color: #912aec00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #912aec7b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}

button:hover {
  background-color: #71579b;
}

input[type="file"] {
  display: none;
}
